
#login-background {
    height: 1005px;
    background-image: url(../images/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/* login page components */

/* logo */
#menulogo {
    width: 87px;
    height: 52px;
    
}

/* login components */
.LoginPart {
    width: 795px;
    height: 1017px;
    position: fixed;
}

.Background {
    width: 795px;
    height: 909px;
    left: 0px;
    top: 0px;
    position: fixed;
    background: linear-gradient(135deg, #E8E8E8 0%, white 100%);
    box-shadow: 6px 6px 15px rgba(144, 144, 144, 0.90);
    border-radius: 0px 58px 58px 0px;
}

.login-button {
    width: 125px; 
    height: 33px; 
    left: 400px; 
    top: 652px; 
    position: absolute; 
    background: #659127; 
    border-radius: 14px;
    box-shadow: -1px -1px 3px rgba(59, 84, 23, 0.90) inset;
    border: none;
}

.login-text {
    color: white;
}

.login-button:hover {
    width: 125px; 
    height: 33px; 
    left: 400px; 
    top: 652px; 
    position: absolute; 
    background: #659127; 
    border-radius: 14px;
    box-shadow: -1px -1px 3px rgba(59, 84, 23, 0.90);
    border: none;
}

#usernameLabel {
    width: 85px; 
    height: 13px; 
    left: 299px; 
    top: 365px; 
    position: absolute;
}

#usernameInput {
    width: 341px; 
    height: 30px; 
    left: 292px; 
    top: 390px; 
    position: absolute; 
    background: #CACACA; 
    border-radius: 14px;
    box-shadow: 2px 2px 5px rgba(117, 117, 117, 0.90) inset;
}

#passwordInput {
    width: 341px; 
    height: 30px; 
    left: 292px; 
    top: 487px; 
    position: absolute; 
    background: #CACACA; 
    border-radius: 14px;
    box-shadow: 2px 2px 5px rgba(117, 117, 117, 0.90) inset;
}

#passwordLabel {
    width: 85px; 
    height: 13px; 
    left: 292px; 
    top: 460px; 
    position: absolute;
}

/* search bar */
#searchBar {
    width: 1400px; 
    height: 50px;  
    top: 12px;
    right: 1px; 
    position: absolute; 
    background: white;
    border-radius: 210px;
    display: flex;
}
