.ForumWithPicture {
    width: 580px;
    height: 401px;
    position: relative;
}

.Background {
    width: 580px;
    height: 401px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #BEBDBD;
    border-radius: 25px;
}

.ProfilePic {
    width: 43px;
    height: 43px;
    left: 29px;
    top: 18px;
    position: absolute;
    background: #737373;
    border-radius: 9999px; /* my border radius was 32px but ok */
}

.Username {
    width: 107px;
    height: 9px;
    left: 87px;
    top: 24px;
    position: absolute;
    background: #888888;
    border-radius: 17px;
}

.Question {
    width: 443px;
    height: 9px;
    left: 87px;
    top: 45px;
    position: absolute;
    background: #888888;
    border-radius: 17px;
}

.Description {
    width: 443px;
    height: 40px;
    left: 87px;
    top: 61px;
    position: absolute;
    background: #888888;
    border-radius: 17px;
}

.Picture {
    width: 443px;
    height: 265px;
    left: 87px;
    top: 113px;
    position: absolute;
    background: #5E5E5E;
    border-radius: 17px;
}

.Rank {
    width: 45px;
    height: 9px;
    left: 199px;
    top: 24px;
    position: absolute;
    background: #888888;
    border-radius: 17px;
}